*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
}

nav{
    background-color: #f85606;
    /* padding: 0 35px; */
}

.navTop{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.navTopLeft>a{
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
}

.navTopRight>a{
    text-decoration: none;
    color: #ffffff;
    background-color: #ae4005;
    padding: 3px 10px;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navBottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    /* justify-content: space-evenly; */
}

.logoContainer{
    width: 11%;
    margin-right: 15px;
}

.searchContainer{
    width: 60%;
    background-color: #ffffff;
    height: 40px;
    border-radius: 7px;
    padding: 0 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.searchContainer>form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchContainer>form>a{
    background-color: #ffe3d5;
    padding: 3px 10px;
    border-radius: 7px;
}

.searchContainer>form>input{
    width: 90%;
    height: 40px;
    /* padding-left: 5px; */
    border: none;
}

.searchContainer>form>input{
    outline: none;
    box-shadow: none;
}

.searchContainer>form>a{
    /* width: 10%; */
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f85606;
}

.requestContainer{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.login, .langContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginText, .signUpText{
    font-size: 14px;
}

.login>span{
    margin-right: 5px;
}

/* .bannerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.categories{
    width: 18%;   
}

.list-group-item{
    font-size: 12px;
}

.list-group-item:hover{
    background-color: #f2f2f2;
}

.list-group-item:hover p, .list-group-item:hover i{
    color: #f85606;
}

.list-group-item:hover i{
    background-color: #f2f2f2;
}

.homePageBanner{
    width: 80%;
    height: fit-content;
}

